.contacts {
   display: flex;
   align-items: center;
   justify-content: center;

   width: 100%;
   height: 100svh;
}

form {
   display: flex;
   flex-direction: column;
   align-items: stretch;
   justify-content: center;

   max-width: 90%;
   width: 80%;
}

.inputs {
   font-size: inherit;
   font-family: inherit;

   border: 1px solid var(--border-color);
   border-radius: 2em;
}

.select {
   margin-bottom: 1em;
   position: relative;
}

.select::after {
   content: "";

   position: absolute;
   top: 33%;
   right: 1.5em;

   width: .7em;
   height: .7em;

   border-left: 3px solid;
   border-bottom: 3px solid;
   border-color: var(--shadow-color);
   background-color: transparent;
   transform: rotate(-45deg);
}


.select:has(select:open)::after {
   transform: rotate(135deg);
   top: 42%;
}


select.inputs {   
   padding: 1em 1.3em;
   width: 100%;

   background-color: transparent;
   appearance: none;
}



input.inputs {
   padding: 1em 1.3em;
}

textarea {
   padding: 1em 1.3em;
   min-height: 6em;
   max-width: 100%;
   border-radius: 1.5em;
   resize: none;
}

.inputs + .inputs {
   margin-top: 1em;
}

.inputs::placeholder {
   color: var(--shadow-color);
}

.inputs:focus {
   scale: 1.01;   
   outline: none;
}


