:host {
   width: 50%   
}

.product-card {
   display: block;
   padding: 1em 1.2em;
   margin: 0.6em;

   border: 1px solid var(--border-color);
   border-radius: 1em;
}

.product-image-container {
   display: block;
   max-width: 100%;

   aspect-ratio: 1 / 1;
}

.product-card-image {
   max-width: 100%;  
}

.product-card-desc {
   margin: 1em 0;

}
.product-name {
   margin: 0;
   margin-bottom: 0.6em;
   font-size: 1.1em;
}

.product-price {
   margin: 0;
   font-size: 1em;
   color: #555555;

}